*.class
*.bak
*.orig

HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
# Package Files #
*.jar
*.war
*.ear
*.zip

# Intellij
*.iml
.idea
target

# Eclipse
.project
.settings
.classpath
.cache
.metadata

.vagrant
.vault_password
*.retry

#vscode
.vscode
