*.class
*.bak
*.orig

# Package Files #
*.jar
*.war
*.ear
*.zip

# Intellij
*.iml
.idea
target

# Eclipse
.project
.settings
.classpath
.cache
.metadata

.vagrant
.vault_password
*.retry

#vscode
.vscode
